.smoothscroll-top {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: $zindex-fixed;
  width:47px;
  height:44px;
  line-height:44px;
  right:20px;
  bottom:-20px;
  padding-top:2px;
  border-radius:5px;
  transition:all .5s ease-in-out;
  transition-delay:.2s;
  background: $white;
  @include box-shadow($popover-box-shadow);
}

.smoothscroll-top:hover {
  //transition:all .2s ease-in-out;
  //transition-delay: 0s;
}

.smoothscroll-top.show {
  visibility:visible;
  cursor:pointer;
  opacity:1;
  bottom:20px;
}

.smoothscroll-top i.fa {
  line-height:inherit;
}